# Ignore the .env file in the server directory
/server/.env
/server/access.log
/server/node_modules/
/client/node_modules/

# Other files and directories to ignore
node_modules/
dist/
.env

# puppeteer
server/.cache