<<<<<<< HEAD
.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  z-index: 9999; /* Ensure it appears above other content */
=======
.pendulum {
  width: 100px;
  height: 100px;
  transform-origin: 50% 50%; /* Pivot from the center-top of the logo */
  animation: pendulum 10s ease-out infinite;
>>>>>>> 85a157bfbdad7c232e472532e4e0ad978d6b6c67
}

.rotate-logo {
  width: 150px; /* Adjust the size of the logo as needed */
  animation: rotate 3s cubic-bezier(0.6, 0.02, 0.34, 1.4) infinite; /* Speed up animation */
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
